
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(images/img10.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #66665E;
}

h1, h2, h3 {
	margin: 0;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #4B8749;
}

h1 { font-size: 44px; }

h2 { font-size: 18px; }

h3 { }

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
	text-align: justify;
}

ul, ol { }

blockquote { }

a { color: #41ACE7; }

a:hover { text-decoration: none; }

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
}

/* Header */

#header-wrapper {
}

#header {
	width: 1000px;
	height: 64px;
	margin: 0 auto;
	background: url(images/img02.jpg) no-repeat left top;
}

/* Menu */

#menu {
	float: left;
	width: 540px;
	height: 64px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 5px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 20px;
	margin-right: 3px;
	padding: 28px 25px 15px 25px;
	background: url(images/img07.jpg) no-repeat left 32px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}

#menu a:hover { text-decoration: underline; }

#menu .current_page_item a {
	height: 20px;
	color: #FFFFFF;
}

#menu .first {
	background: none;
}
/* Search */

#search {
	float: right;
	width: 305px;
	height: 50px;
}

#search form {
	float: right;
	margin: 0;
	padding: 25px 20px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	font: 12px Georgia, "Times New Roman", Times, serif;
	border: none;
}

#search-text {
	width: 135px;
	height: 18px;
	padding: 3px 0 0 5px;
	border: 1px solid #333333;
	background: #ECF9E4;
	color: #000000;
}

#search-submit {
	height: 21px;
	margin-left: 10px;
	padding: 0px 5px;
	background: #000000;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
	background: url(images/img04.jpg) repeat-y left top;
}

#page-bgtop {
	padding-top: 30px;
	background: url(images/img03.jpg) no-repeat left top;
}

	/** LOGO */

#logo {
	width: 960px;
	height: 105px;
	margin: 0 auto;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
}

#logo p {
	text-transform: uppercase;
	font-size: 10px;
}

#logo h1 {
	padding-top: 40px;
	font-size: 34px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Content */

#content {
	float: right;
	width: 738px;
	padding-top: 20px;
	padding-right: 40px;
}

/* Post */

.post {
	margin-bottom: 5px;
}

.post .title {
	height: 30px;
	color: #42423E;
}

.post .title a {
	text-decoration: none;
	color: #42423E;
}

.post .date {
}

.post .meta {
	margin-top: -10px;
	padding: 2px 30px 2px 16px;
	background: url(images/img08.jpg) no-repeat left 10px;
	border-bottom: 1px #BDBDBB dotted;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #66665E;
}

.post .meta span {
	display: block;
	margin-top: -10px;
}

.post .meta a { }

.post .entry {
	padding: 10px 0;
}

.post .links {
	margin: 0 250px 0 0;
	padding: 0 0 0 0px;
}

.post .links .comments {
}

.post .links .permalink {
	padding-left: 17px;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 162px;
	padding-left: 22px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0 0 0 5px;
	padding-left: 10px;
	background: url(images/img09.jpg) no-repeat left 4px;
}

#sidebar p {
	margin: 0;
	padding: 0px 10px;
}

#sidebar h2 {
	height: 26px;
	margin: 0 0 10px 0px;
	padding: 8px 0 2px 10px;
	background: url(images/img06.jpg) no-repeat left top;
	text-transform: capitalize;
	font-size: 11px;
	font-weight: bold;
	color: #42423E;
}


#sidebar p {
	line-height: 200%;
}
#sidebar a {
	color: #696969;
}

/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-right: 1px solid #24130F;
}

#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	background: #24130F;
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
	padding: 5px;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
	border-top: 1px solid #24130F;
	text-align: right;
}

#calendar tfoot #prev {
	border-top: 1px solid #24130F;
}

#calendar .pad {
	border-bottom: 1px solid #24130F;
}

#calendar #today {
	background: #24130F;
}

/* Footer */

#footer {
	width: 1000px;
	height: 95px;
	margin: 0 auto;
	padding: 0;
	background: url(images/img05.jpg) no-repeat left top;
}

#footer p {
	margin: 0;
	padding: 56px 0;
	text-align: center;
	line-height: normal;
	text-transform: uppercase;
	font-size: 10px;
	color: #66665E;
}

#footer a {
	color: #000000;
}
